.card-title1{

    font-size: 55px;
    font-weight: 400;
}

.card-title{
    font-size: 90px;
    font-weight: 500;
}

.aaa{
    text-align: center;
    margin-top: 15%;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 700;
}

.bbb{
    margin-top: 77%;
    width: 70%;
}

.mmm{
    text-align: center;
}

.ddd{
    font-size: 36px;
}