<div class="container">
    <div class="row mt-5">
        <div class="col-md-1 mt-4">
        </div>
        <div class="col-md-5 mt-4 mmm">
            
                <h1 class="card-title1 aaa">Hi UoJ</h1>
                <h3 class="ddd">Let's check the temperature!</h3>
                <img src="../assets/xxx.jpg" class="img-fluid bbb">
        </div>

        <!-- <div class="col-md-4 mt-4">
            <div class="card" align="center">
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <img src="{{image}}" class="img-fluid mt-4" alt="Server Disconnected!">
                </div>
                <div class="card-body" align="center">
                    <h1 class="card-title1">Power : {{power}}</h1>
                   
                </div>
            </div>
        </div> -->
        <div class="col-md-5 mt-4">
            <div class="card" align="center">
                <div style="display: block">
                        
                        <h1 class="card-title1">Temperature</h1>
                        
                    <!-- <canvas mdbChart [chartType]="chartType" [data]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                        [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas> -->
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
                <div class="card-body" align="center">
                    <br>
                    <h1 class="card-title">{{temperature}} C°</h1>
                    <!-- <a class="btn btn-primary waves-light" mdbRippleRadius (click)="onclick('ON')">Random</a> -->
                </div>
            </div>
        </div>
        <!-- <div class="col-md-5 mt-4">
            <div class="card" align="center">
                <div style="display: block">
                        
                        <h1 class="card-title1">Humidity</h1>
                    <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
                <div class="card-body" align="center">
                    <br>
                    <h1 class="card-title">{{humidity}}</h1>
                </div>
            </div>
        </div> -->

        <div class="col-md-1 mt-4">
        </div>
    </div>
</div>
<router-outlet></router-outlet>